[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[receive]
	requireChangeId = false
[access "refs/for/*"]
	push = group Administrators
	push = group Developer-group
	pushMerge = group Administrators
	pushMerge = group Developer-group
	rebase = group Administrators
	rebase = group Developer-group
	addPatchSet = group Administrators
	addPatchSet = group Developer-group
	submit = group Administrators
	submit = group Developer-group
[project]
	description = Used replication with Github
